<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="exporter" class="org.springframework.jmx.export.MBeanExporter">
		<!-- <property name="namingStrategy">
			<bean class="org.springframework.jmx.export.naming.IdentityNamingStrategy" />
		</property> -->
		<property name="beans">
			<map>
				<entry key="com.sitech.crmpd.idmm.broker:name=logicHandler" value-ref="logicHandler" />
				<entry key="com.sitech.crmpd.idmm.broker:name=httpLogicHandler" value-ref="httpLogicHandler" />
			</map>
		</property>
	</bean>
</beans>