<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true">
	<appender name="debugout"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/serv_fq.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/serv_fq.log.%d{yyyyMMdd}.gz</fileNamePattern>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%5p]%d{HH:mm:ss.SSS}[%X{id}] -- %m%n</pattern>
		</encoder>
	</appender>

	<appender name="dbexceptlog" class="ch.qos.logback.core.FileAppender">
		<file>log/handle_fq.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/handle_fq.log.%d{yyyyMMdd}.gz</fileNamePattern>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<logger name="dbexcept" level="DEBUG" additivity="false">
		<appender-ref ref="dbexceptlog" />
	</logger>

	<logger name="gyf.test" level="DEBUG" />
	<logger name="org.apache.zookeeper.ClientCnxn" level="ERROR" />
	<root level="INFO">
		<appender-ref ref="debugout" />
	</root>
</configuration>
